@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
  --antique-brass: #CB997E;
  --desert-sand: #DDBEA9;
  --champagne-pink: #FFE8D6;
  --ash-gray: #B7B7A4;
  --artichoke: #A5A58D;
  --ebony: #4D5042;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--desert-sand);
  color:var(--ebony);
  font-family: Poppins, sans-serif;
  
}

.nav-links li:hover , header a:hover{
  color:var(--champagne-pink);
  cursor: pointer;
}


.header-section{
  background-color: var(--antique-brass);
}

.nav-active{
  color:var(--champagne-pink)
}

button{
  border: 3px var(--champagne-pink) solid;
}

button:hover{

  background-color: var(--champagne-pink)
}